body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Branco */
    color: #333333; /* Um cinza escuro para o texto */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#quiz-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 20px;
    text-align: center;
    border: 2px solid #ff4d4d; /* Borda vermelha */
}

h1 {
    color: #ff4d4d; /* Título vermelho */
}

.btn {
    border: none;
    outline: none;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #ff4d4d; /* Botões vermelhos */
    color: #fff; /* Texto dos botões branco */
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e60000; /* Vermelho mais escuro ao passar o mouse */
}

.correct {
    background-color: #a5d6a7; /* Verde claro para respostas corretas */
    color: #333;
}

.wrong {
    background-color: #ef9a9a; /* Vermelho claro para respostas erradas */
    color: #333;
}

#next-button {
    background-color: #ff4d4d;
    color: #fff;
}

#next-button:hover {
    background-color: #e60000;
}

.hide {
    display: none;
}

#score {
    margin-top: 10px;
    font-size: 18px;
}
